.agents/
.idea/

project/.env
project/.phpunit.result.cache
project/vendor/
project/node_modules/
project/public/build/
project/storage/*.key
project/storage/app/public/
project/storage/framework/cache/*
project/storage/framework/sessions/*
project/storage/framework/testing/*
project/storage/framework/views/*
project/storage/logs/*

!project/storage/framework/cache/.gitignore
!project/storage/framework/sessions/.gitignore
!project/storage/framework/testing/.gitignore
!project/storage/framework/views/.gitignore
!project/storage/logs/.gitignore
